USE [sportsDW]
GO
/****** Object:  Table [wow].[staging_RBG_DW]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[staging_RBG_DW]') AND type in (N'U'))
DROP TABLE [wow].[staging_RBG_DW]
GO
/****** Object:  Table [wow].[RBGs_DW]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[RBGs_DW]') AND type in (N'U'))
DROP TABLE [wow].[RBGs_DW]
GO
/****** Object:  Table [wow].[Extract_Reflex]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[Extract_Reflex]') AND type in (N'U'))
DROP TABLE [wow].[Extract_Reflex]
GO
/****** Object:  Table [wow].[Dim.Victory]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[Dim.Victory]') AND type in (N'U'))
DROP TABLE [wow].[Dim.Victory]
GO
/****** Object:  Table [wow].[Dim.Spec]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[Dim.Spec]') AND type in (N'U'))
DROP TABLE [wow].[Dim.Spec]
GO
/****** Object:  Table [wow].[dim.Maps]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[dim.Maps]') AND type in (N'U'))
DROP TABLE [wow].[dim.Maps]
GO
/****** Object:  Table [wow].[Dim.Dates]    Script Date: 17-05-2020 13:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[wow].[Dim.Dates]') AND type in (N'U'))
DROP TABLE [wow].[Dim.Dates]
GO
/****** Object:  Schema [wow]    Script Date: 17-05-2020 13:02:16 ******/
DROP SCHEMA [wow]
GO
/****** Object:  Schema [wow]    Script Date: 17-05-2020 13:02:16 ******/
CREATE SCHEMA [wow]
GO
/****** Object:  Table [wow].[Dim.Dates]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[Dim.Dates](
	[date_id] [date] NOT NULL,
	[date_year] [smallint] NULL,
	[date_month] [tinyint] NULL,
	[date_day] [tinyint] NULL,
	[weekday_id] [tinyint] NULL,
	[weekday_nm] [varchar](10) NULL,
	[month_nm] [varchar](10) NULL,
	[day_of_year] [smallint] NULL,
	[quarter_id] [tinyint] NULL,
	[first_day_of_month] [date] NULL,
	[last_day_of_month] [date] NULL,
	[start_dts] [datetime] NULL,
	[end_dts] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [wow].[dim.Maps]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[dim.Maps](
	[ID] [bigint] NULL,
	[Map] [nvarchar](max) NULL,
	[MapType] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [wow].[Dim.Spec]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[Dim.Spec](
	[ID] [bigint] NULL,
	[Spec] [nvarchar](max) NULL,
	[Class] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [wow].[Dim.Victory]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[Dim.Victory](
	[ID] [bit] NULL,
	[Victory] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [wow].[Extract_Reflex]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[Extract_Reflex](
	[Timestamp] [bigint] NULL,
	[Map] [bigint] NULL,
	[duration] [bigint] NULL,
	[victory] [bit] NULL,
	[KillingBlows] [bigint] NULL,
	[HonorKills] [bigint] NULL,
	[Deaths] [bigint] NULL,
	[Damage] [bigint] NULL,
	[Healing] [bigint] NULL,
	[Honor] [bigint] NULL,
	[RatingChange] [bigint] NULL,
	[MMR] [bigint] NULL,
	[EnemyMMR] [bigint] NULL,
	[specialization] [nvarchar](max) NULL,
	[isRated] [nvarchar](max) NULL,
	[PrestigeLevel] [nvarchar](max) NULL,
	[isBrawl] [bit] NULL,
	[isMercenary] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [wow].[RBGs_DW]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[RBGs_DW](
	[ID] [varbinary](8000) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Map] [bigint] NULL,
	[duration] [bigint] NULL,
	[victory] [bit] NULL,
	[specialization] [nvarchar](max) NULL,
	[RatingChange] [bigint] NULL,
	[MMR] [bigint] NULL,
	[EnemyMMR] [bigint] NULL,
	[Damage] [bigint] NULL,
	[Healing] [bigint] NULL,
	[Deaths] [bigint] NULL,
	[KillingBlows] [bigint] NULL,
	[HonorKills] [bigint] NULL,
	[Honor] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [wow].[staging_RBG_DW]    Script Date: 17-05-2020 13:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [wow].[staging_RBG_DW](
	[TimeStamp] [datetime] NULL,
	[Map] [bigint] NULL,
	[duration] [bigint] NULL,
	[victory] [bit] NULL,
	[KillingBlows] [bigint] NULL,
	[HonorKills] [bigint] NULL,
	[Deaths] [bigint] NULL,
	[Damage] [bigint] NULL,
	[Healing] [bigint] NULL,
	[Honor] [bigint] NULL,
	[RatingChange] [bigint] NULL,
	[MMR] [bigint] NULL,
	[EnemyMMR] [bigint] NULL,
	[specialization] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [wow].[Dim.Dates] ([date_id], [date_year], [date_month], [date_day], [weekday_id], [weekday_nm], [month_nm], [day_of_year], [quarter_id], [first_day_of_month], [last_day_of_month], [start_dts], [end_dts]) VALUES (CAST(N'2020-01-01' AS Date), 2020, 1, 1, 4, N'Wednesday', N'January', 1, 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-31' AS Date), CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T23:59:59.000' AS DateTime))
INSERT [wow].[Dim.Dates] ([date_id], [date_year], [date_month], [date_day], [weekday_id], [weekday_nm], [month_nm], [day_of_year], [quarter_id], [first_day_of_month], [last_day_of_month], [start_dts], [end_dts]) VALUES (CAST(N'2020-01-02' AS Date), 2020, 1, 2, 5, N'Thursday', N'January', 2, 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-31' AS Date), CAST(N'2020-01-02T00:00:00.000' AS DateTime), CAST(N'2020-01-02T23:59:59.000' AS DateTime))
INSERT [wow].[Dim.Dates] ([date_id], [date_year], [date_month], [date_day], [weekday_id], [weekday_nm], [month_nm], [day_of_year], [quarter_id], [first_day_of_month], [last_day_of_month], [start_dts], [end_dts]) VALUES (CAST(N'2020-01-03' AS Date), 2020, 1, 3, 6, N'Friday', N'January', 3, 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-31' AS Date), CAST(N'2020-01-03T00:00:00.000' AS DateTime), CAST(N'2020-01-03T23:59:59.000' AS DateTime))
GO
INSERT [wow].[dim.Maps] ([ID], [Map], [MapType]) VALUES (727, N'Silvershard Mines', N'MovingTargets')
INSERT [wow].[dim.Maps] ([ID], [Map], [MapType]) VALUES (2245, N'Deepwind Gorge', N'BaseMap')
INSERT [wow].[dim.Maps] ([ID], [Map], [MapType]) VALUES (566, N'Eye Of The Storm', N'BaseMap')
GO
INSERT [wow].[Dim.Spec] ([ID], [Spec], [Class]) VALUES (0, N'Balance', N'Druid')
INSERT [wow].[Dim.Spec] ([ID], [Spec], [Class]) VALUES (1, N'Feral', N'Druid')
INSERT [wow].[Dim.Spec] ([ID], [Spec], [Class]) VALUES (2, N'Guardian', N'Druid')
GO
INSERT [wow].[Dim.Victory] ([ID], [Victory]) VALUES (0, 0)
INSERT [wow].[Dim.Victory] ([ID], [Victory]) VALUES (1, 1)
GO
